body{
	background-color: white;
}
#svgHolder {
	position: absolute;
	background: white;
	width: 640px;
	height: 480px;
	left: 50%;
	top: 50%;
	margin-top: -240px;
	margin-left: -320px;
}

circle {
	cursor: pointer;
}

#circle0 {
  fill: rgb(0, 255, 0);
	opacity: .5;
}

#circle1 {
	fill: rgb(0, 0, 255);
	opacity: .5;
}

#circle2 {
	fill: rgb(255, 0, 0);
	opacity: .5;
}

h3{
	margin: 0px;
	font-family: Helvetica;
	color:black;
}

a{
	text-decoration: none;
}

.tooltip{
	position: fixed;
	color: grey;
	font-family: Trebuchet MS;
	font-weight: 300;
}

#work {
	position: absolute;
	width: 460px;
	left: 50%;
	margin-left: -230px;
	float: left;
}

.workItem{
	margin: 50px 0px 50px 0px;
}

#work>h2{
	font-family: Trebuchet MS;
	color: grey;
	font-size: 3em;
	text-align: center;
}

#work>div>a>h3{
	display: inline-block;
	font-size: 2em;
	font-weight: 100;
	margin-bottom: 15px;
}

.workItem:hover #fl{
	color: hsl(135, 40%, 45%)
}

#flImg{
	background-image: url("images/arrows-part2bw.png");
	background-size: 100%;
	width: 460px;
	height: 220px;
}

.workItem:hover #flImg{
	background-image: url("images/arrows-part2.png");
	background-size: 100%;
	width: 460px;
	height: 220px;
}
