h3{
	margin: 0px;
}
#home{
	font-family: Helvetica;
	color:black;
	text-decoration: none;
}

#companyName{
	margin-top: 20px;
	font-family: helvetica;
	font-size: 2em;
	font-weight: 100;
	margin-bottom: 15px;
	color: hsl(135, 40%, 45%);
	text-align : center;
}

#wrapper{
	margin: auto;
	width: 460px;
	left: 50%;
	/*margin-left: -230px;*/
	/*float: left;*/
}

.heading{
	font-family: Trebuchet MS;
	font-weight: 100;
	color: rgba(0,0,0,.8);
}

ul{
	list-style: none;
	font-family: sans-serif;
	font-weight: 100;
	color: rgba(0,0,0,.8);
}

li{
	margin-top: 10px;
}

.description {
	font-family: Trebuchet MS;
	font-weight: 100;
	color: rgba(0,0,0,.8);
}

#wrapper2{
	width: 80%;
	margin: auto;
}

img{
	margin: auto;
	width: 100%;
}